<h2>Edit a movie! </h2>

<form action="/movies/{{_id}}/edit" method="post" id="form1">
<label for="">
Title:
<input type="text" name="title" value="{{editMovie.title}}">
</label>
<label for="">
    Genre:
    <input type="text" name="Genre" value="{{editMovie.genre}}">
</label>
Plot:
<input type="text" name="plot" value="{{editMovie.plot}}">
<label for="">
    Cast:
    <select name="cast_id" multiple>
        {{#each celebrityArray}}
        <option value="{{cast_id}}"> {{name}}</option>
        {{/each}}
    </select>
    
</label>
<button type="submit" > Edited movie</button>
</form>

{{!-- <form action="/movies/{{_id}}/edit" method="POST">
<label for="">
    title
    <input type="text" name="title" value="{{title}}">
    genre
    <input type="text" name="genre" value="{{genre}}">
    plot
    <input type="text" name="plot" value="{{plot}}">
    cast
 
    <select name="cast_id" multiple > 
        {{#each Celebrity}}
        <option value="{{cast_id}}"> {{name}}</option>
        {{/each}}
</select>
<button type="submit"> Edit movie</button>
</label>


</form> --}}