<style>
    button{
        border-radius: 50px;
    color: chocolate;
    background-color: darkblue;
    padding: 8px;
     
    }

    #al{
        float:left;
        margin-left: -6px;
    }
</style>

<h1> Title: {{title}}</h1>



<h3>Genre: {{genre}}</h3>
<h3>Plot: {{plot}}</h3>

<br>
<br>

<h1>Celebrity info</h1>

{{#each cast_id}}

<h3>Name:{{this.name}}</h3>
<br>
<h3>Catchphrase:{{catchphrase}}</h3>
<br>

<h3>Occupation:{{occupation}}</h3>
<br>

{{/each}}

<form action="/movies/{{_id}}/delete" method="post">
<button type="submit"> delete </button>

</form>

<a id= "al" href="/movies/{{_id}}/edit"> Edit movie</a>

{{!-- <form action="/movies/{{_id}}/edit" method="post">
<button type="submit"> Edit movie</button>
</form> --}}